pip>=19.0.3
setuptools>=41.0.1
feedparser
googleapis-common-protos

jwk_theme
oauth2client
parsedatetime
pelican
pelican_cite_nice
pelican_render_math
pelican_ga_pageview
pelican_github_activity
pybtex
pyopenssl

