version: 2.1
jobs:
  publish:
    filters:
      branches:
        only:
          - source

    docker:
      - image: circleci/python:3.6.1

    working_directory: ~/repo

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "requirements.txt" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run:
          name: install dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip uninstall -y setuptools
            pip install --upgrade setuptools
            pip install -r requirements.txt

      - save_cache:
          paths:
            - ./venv
          key: v1-dependencies-{{ checksum "requirements.txt" }}

      - run:
          name: show contents
          command: |
            ls
            ls -R content
            pwd

      - run:
          name: make github
          command: |
            . venv/bin/activate
            make github
            
workflows:
  commit:
    jobs:
      - build_html
  daily:
    triggers:
      - schedule:
          cron: "0 14 * * *"
          filters:
            branches:
              only:
                - source
    jobs:
      - publish
